{{ define "css" }}
<link rel="stylesheet" href="/css/pages/projects.css" />
{{ end }} {{ define "main" }}
<div id="app">
  <div class="body">
    <section>
      <div class="section__head">
        <h2>Projets</h2>
      </div>
      <div class="projects">
        {{ range $.Site.Data.projects }}
            {{ partial "projects/card.html" (dict "Data" . "stacks" $.Site.Data.stacks "Dark" true "Floating" true)}}
        {{ end }}
      </div>
      <div class="section__head">
        <h2>Codewars</h2>
      </div>
      <div class="projects">
        {{ range $.Site.Data.codewars }}
            {{ partial "projects/card.html" (dict "Data" . "stacks" $.Site.Data.stacks "Stackbar" true "IconInTitle" true)}}
        {{ end }}
      </div>
    </section>
  </div>
  <script src="/js/tag.js"></script>
  <script src="/js/click-forward.js"></script>
</div>
{{ end }}
