
{{ $randomId := index (seq 2000 | shuffle) 0 }}
{{ $stacks := .stacks }}
<div class="card card__head card__head-1 {{ if eq .Dark true }}dark{{ end }} {{ if eq .Floating true }}floating{{ end }}" data-click-forward="card-{{ $randomId }}">
  {{ if eq .Stackbar true }}
    <div class="stack-bar">
    {{ range .Data.stacks }}
        {{ partial "projects/stack-bar.html" (dict "tag" . "stacks" $stacks) }}
    {{ end }}
    </div>
  {{ end }}
  <h3 class="card__header">
    {{ if eq .IconInTitle true }}
      {{ range .Data.stacks }}
        {{ with (index $stacks .) }}
          <i class="icon-{{ .tag }}"></i>
        {{ end }}
      {{ end }}
    {{ end }}
    {{ .Data.title }}
  </h3>
  <div class="card__body">
    {{ if ne .IconInTitle true }}
    <ul class="tag-container">
      {{ $dark := .Dark }}
      {{ range .Data.stacks }}
        {{ partial "projects/stack.html" (dict "tag" . "stacks" $stacks "Dark" $dark) }}
      {{ end }}
    </ul>
    {{ end }}
    <p class="projet__desc">
      {{ .Data.content | safeHTML }}
    </p>
  </div>
  <div class="card__footer">
    <a id="card-{{ $randomId }}" href="{{ .Data.repository }}" target="_blank" rel="noopener noreferrer">Accéder au repository</a>
  </div>
</div>