@use "sass:math";

$height: 27px;
$width: 27px;
$bar-height: 3px;
$vertical-gap: math.div($height - (3 * $bar-height), 4);

@debug $vertical-gap;

.burger {
  height: $height;
  width: $width;
  transform-origin: $height * 0.5 $width * 0.5;
  transform: rotateZ(0);
  transition: transform ease-in-out 0.4s;
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    height: $bar-height;
    width: $width;
    content: " ";
    background: transparent;
    box-shadow: 0 $vertical-gap 0 currentColor, 0 $height*0.5-$bar-height*0.5 0 currentColor,
      0 3 * $vertical-gap + 2 * $bar-height 0 currentColor;
  }
  &::after {
    position: absolute;
    content: " ";
    top:0;
    left: $width * 0.5 - $bar-height * 0.5;
    height: $width;
    width: $bar-height;
    background: currentColor;  
    transform: scale(0);
  }
}

.burger.is-open {
  transition: all linear ease-in-out;
  transform: rotateZ(0.625turn);
  &::before {
    box-shadow:  0 2 * $vertical-gap + $bar-height 0 currentColor;
  }
  &::after {
    transform: scale(100%);
  }
}
