.button--icon {
  background: transparent;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: none;
}
.button--icon:focus {
  background: #000000aa;
}

.button--inverted {
  color: white;
}
