@import "../abstract/material";

$card-padding: 1.4rem 0.8rem 0.8rem;
$card-color: #333;

.card {
  position: relative;
  cursor: pointer;
  padding: $card-padding;
  margin: 0.8rem 0;
  display: flex;
  flex-direction: column;
}

.card.floating {
  @include card(1); 
  &:hover {
    @include card(3);
    transition: all 0.2s linear;
  }
}

.card {
  .stack-bar {
    position: absolute;
    top:0;
    left:0;
    right: 0;
  }
}

.card__head {
  color: $card-color;
  transition: background-size 0.2s ease-in-out;
  background-position-y: 0px;
  background-size: 100%;
  background-origin: center center;
  a {
    color: $card-color;
  }
  &:hover {
    margin-top: -5px;
  }
}

.card__head.dark {
  color: white;
  a {
    color: white;
  }
}

.card__head-1.dark {
  background-position-x: -100px;
  background-image: url("/img/card-background.svg");
}

.card__body {
  flex-grow: 1;
}

.card__header {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  i {
    margin-right: 0.4rem;
  }
}

.projet__desc {
  margin: 0.6rem 0;
}

.card__footer {
  display: flex;
  justify-content: flex-end;
  padding: 0.2rem 0.4rem 0.4rem;
}