$tag-height: 28px;


ul.tag-container {
  margin: 0;
  padding: 0;
  display: inline-flex;
}

li.stack {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  font-size: 0.8rem;
  height: $tag-height;
  justify-content: center;
  min-width: 28px;
  padding: $tag-height * 0.2 $tag-height * 0.2;
  [class^="icon-"], [class*=" icon-"] {
    font-size: 1.1rem;
  }
  .label {
    display: none;
  }
  img {
    height: $tag-height * 0.6;
    object-fit: contain;
    width: $tag-height * 0.6;
  }
  &:hover {
    .label {
      display: inline-flex;
      z-index: 2;
      padding: 0 $tag-height * 0.2;
    }
  }
}
