@mixin link {
  a {
    display: inline;
    position: relative;
    color: #224;
    text-decoration: none;
    &:after {
      transform-origin: bottom;
      content: " ";
      transform: scaleY(0.1);
      position: absolute;
      z-index: -1;
      background: #224;
      top: -1px;
      left: -2px;
      right: -2px;
      bottom: -1px;
    }
    &:hover {
      transition: color 0.1s ease-in-out;
      color: white;
      &:after {
        transition: transform 0.1s ease-in-out;
        background: #224;
        transform: scaleY(1);
      }
    }
  }
}
