.tag-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0.3rem 0 0.6rem;
  padding: 0;
}
.tag-list .tag:not(:last-child) {
  margin-right: 0.4rem;
}
.tag {
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
  margin-bottom: 0.4rem;
  -webkit-print-color-adjust: exact;
  font-weight: 400;
  font-size:0.9rem;
  font-style: italic;
}
.tag.is-highlighted.is-primary {
  background: blue;
}
.tag.is-highlighted.is-frontend {
  background: teal;
  color: white;
}
.tag.is-highlighted.is-backend {
  background: orange;
  color: #333;
}
.tag.is-highlighted.is-system {
  background: #333;
  color: white;
}
.tag.is-highlighted {
  background: #d0d0d0;
  font-weight: 600;
  font-style: normal;
}
