$headerPatternBackgroundColor: #0e0747;
$headerUnderlineColor: change-color($headerPatternBackgroundColor, $alpha: 0.1);
$basePadding: 1rem;

$headerBackground:linear-gradient(0deg, #00000080, #ffffff44 100%);
$headerColor: white;
$headerPadding: $basePadding 2rem;
$bodyPadding: $basePadding;

$padding-0: 0;
$padding-sm: 0.6rem;
$padding-1: 1rem;
$padding-2: 1.4rem;
$padding-3: 1.8rem;
