
@import "../abstract/variables";
@import "../common/base";
@import "../common/header";
@import "../common/layout";
@import "../components/header";
@import "../components/burger";
@import "../components/buttons";
@import "../components/card";
@import "../components/link";
@import "../common/icons";
@import "../components/tags";

.body {
  padding: 1rem;
}
.event__description {
  padding: 0 0 0 1rem;
}
section .tag-list:last-of-type {
  margin-bottom: 0;
}

@include link();

/* Print specific things */
@page {
  margin: 0.5cm 0;
}
@page :first {
  margin: 0 0 0.5cm;
}
@media print {
  .text {
    padding: 0.5rem 1rem;
  }
  .body {
    padding: 1rem 1rem;
  }
}

@media screen and (min-width: 600px) {
  .text {
    padding: 1rem 8rem;
  }
  .body {
    padding: 1rem 8rem;
  }
}

/** event-list */
.event-list .event {
  margin-bottom: 0.8rem;
  font-weight: 600;
}

.event-list .event .tech_stack {
  font-weight: 400;
  font-size: 0.9rem;
  font-style: italic;
}
.event-list .event .tech_stack .tech_stack__label {
  font-weight: 600;
}
.event-list .event .event__description {
  font-weight: 400;
  font-size: 0.9rem;
}

.event-list .event .event__dates {
  font-weight: 500;
  margin-right: 0.6rem;
  display: inline-block;
}

.event-list .event .event__subtitle {
  font-weight: 400;
  font-size: 0.9rem;
}
