@import "../abstract/variables";
@import "../common/base";
@import "../common/header";
@import "../common/layout";
@import "../components/header";
@import "../components/fancy-tags";
@import "../components/buttons";
@import "../components/burger";
@import "../components/card";
@import "../components/link";
@import "../components/stack-bar";
@import "../common/icons";


.body {
  padding: 0 2rem 1rem;
}

.projects {
  display: grid;
  margin-left: -10px;
  margin-right: -10px;
  grid-template-columns: 1fr;
  grid-gap: 0.8rem;
  .card {
    margin: 0;
  }
}

.section__head {
  margin-top: $padding-2;
}

@media  (min-width: 680px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}

@media  (min-width: 1280px) {
  .projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 600px) {
  .text {
    padding: 1rem 8rem;
  }
  .body {
    padding: 1rem 8rem;
  }
}