body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0 0;
  background: #fefefe;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
h3,
h2 {
  margin-bottom: 0.4rem;
}
