.navbar {
  position: absolute;
  top:0;
  left:0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: $padding-sm;
}

.navbar__links {
  display: none;
}

.navbar--open {
  height: 100vh;
  background: #000000dd;
  .navbar__links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @for $i from 1 through 10 {
      :nth-child(#{$i}) {
        animation-delay: 300ms + $i * 100ms;
        animation-fill-mode: forwards;
      }
    }  
  }
}

.navbar__link {
  animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  animation-name: slide-top;
  animation-duration: 500ms;
  transform: translateY(100px);
  opacity: 0;
  a {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
  }
}

.navbar__links :not(:last-child) {
  margin-bottom: 0.6rem;
}

@media screen and (min-width: 600px) {
  .navbar .navbar__burger {
    display: none;
  }
  .navbar__links {
    display: flex;
    list-style: none;
    padding: 0 $padding-1;
  }
  .navbar__links :not(:last-child) {
    margin-right: $padding-2;
  }
  .navbar .navbar__link {
    transform: none;
    animation: none;
    opacity: 1;
  }
}

@keyframes slide-top {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
