@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?h6wnld');
  src:  url('/fonts/icomoon.eot?h6wnld#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?h6wnld') format('truetype'),
    url('/fonts/icomoon.woff?h6wnld') format('woff'),
    url('/fonts/icomoon.svg?h6wnld#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change /fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angular:before {
  content: "\e900";
}
.icon-codewars:before {
  content: "\e901";
}
.icon-concourse:before {
  content: "\e902";
}
.icon-cpp:before {
  content: "\e903";
}
.icon-dart:before {
  content: "\e904";
}
.icon-docker:before {
  content: "\e905";
}
.icon-kotlin:before {
  content: "\e906";
}
.icon-npm:before {
  content: "\e907";
}
.icon-nx:before {
  content: "\e908";
}
.icon-python:before {
  content: "\e909";
}
.icon-react:before {
  content: "\e90a";
}
.icon-rust:before {
  content: "\e90b";
}
.icon-strapi:before {
  content: "\e90c";
}
.icon-typescript:before {
  content: "\e90d";
}