section {
  margin-bottom: 1.4rem;
}
section .section__head {
  display: flex;
}
.section__head {
  padding-bottom: 0.6rem;
}
.section__head h2 {
  position: relative;
}
.section__head h2:after {
  content: " ";
  position: absolute;
  height: 12px;
  z-index: -1;
  left: 0;
  right: -0.6rem;
  bottom: 0;
  background: $headerUnderlineColor;
  -webkit-print-color-adjust: exact;
}
